<h1>New Eipsode</h1>
<%= form_for ([@podcast, @episode]) do |f| %>
  <%= f.label :title%><br>
  <%= f.text_field :title %>

  <br>
  <br>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <br>
  <br>

  <%= f.submit%>
<% end -%>